.nav h1
{
    color: whitesmoke;
    margin-left: 20px;
}
body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
.nav
{
    display: flex;
    justify-content: space-between;
    background-color: #34495e;
}

.nav-items li
{
    color: whitesmoke;
    margin-right: 20px;
    align-self: center;
    display: inline;
    
}
.nav-items
{
    list-style:none;
    color:whitesmoke;
}
.nav-items li:not(:last-child)
{
    margin-right: 10px;
}